{% extends "app/base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<hr>
<header>
    <h1><marquee>Bienvenid@, {{ user.first_name | upper }} {{ user.last_name | upper }} a GAME CENTER</marquee></h1>
</header>

<section>
    <p><marquee>¡Hola {{ user.first_name }}! Esperamos que te quedes... .</marquee></p>
    <p>Bienvenid@ a la página web <b>🔥🔥🔥OFICIAL🔥🔥🔥</b> de GAME CENTER. ¡Tu tienda de videojuegos de confianza!</p>
    <p>En esta webpage encontrarás nuestros productos a la venta.</p>
</section>

</hr>
{% endif %}
<footer>
    <p>&copy; 2023 GAME CENTER. All rights reserved.</p>
</footer>
{% endblock  %}
