{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="body-form" >
    <form method="post" action="{% url 'agregar_ingreso' %}">
        {% csrf_token %}
        <h1>Agregar Ingreso</h1>
        <label for="num">Nº Factura:</label>
        <input type="text" name="num" required>
        <label for="nombre">Nombre del remitente:</label>
        <input type="text" name="nombre" required>
        <label for="gasto">Concepto del ingreso:</label>
        <input type="text" name="gasto" required>
        <label for="cant">Cantidad:</label>
        <input type="text" name="cant" required>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>
