{% extends "app/base.html" %}
{% block content %}
<body class="body-otra-pagina">
    <div class="container">
        <div class="box">
            <h1>Listado de Gastos</h1>
            <ul>
                {% for gasto in movimientos.gastos %}
                    <li>
                        <div>{{ gasto.Num_factura }} - {{ gasto.Receptor }} - {{ gasto.TipoG }} - {{ gasto.CantG }}</div>
                        <div class="button-container">
                            <a class="button delete-button" onclick="confirmDelete('{{ gasto.Num_factura }}', '/finanzas/eliminar_gasto/')">X</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="button-container">
                <a href="agregar_gasto" class="button">Agregar</a>
            </div>
        </div>

        <div class="box">
            <h1>Listado de Ingresos</h1>
            <ul>
                {% for ingreso in movimientos.ingresos %}
                    <li>
                        <div>{{ ingreso.Ref_pago }} - {{ ingreso.Emisor }} - {{ ingreso.TipoI }} - {{ ingreso.CantI }}</div>
                        <div class="button-container">
                            <a class="button delete-button" onclick="confirmDelete('{{ ingreso.Ref_pago }}', '/finanzas/eliminar_ingreso/')">X</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="button-container">
                <a href="agregar_ingreso" class="button">Agregar</a>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div id="deleteModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"> ¿Estás seguro de que quieres eliminar este elemento?</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cancelDelete()"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelDelete()">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="deleteItem()">Sí, eliminar</button>            
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}