{% extends "app/base.html" %}
{% block content %}
<body class="body-otra-pagina">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <h1>Listado de Gastos por Nóminas</h1>
            <div class="main-box clearfix"> 
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Número de factura</span></th>
                                <th><span>Remitente</span></th>
                                <th><span>Cantidad</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gasto in movimientos.gastos %}
                                <!-- Delete Modal -->
                                <div id="deleteModal" class="modal" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title">¿Estás seguro de que quieres eliminar este elemento?</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cancelDelete()"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelDelete()">Cancelar</button>
                                                <button type="button" class="btn btn-primary" onclick="deleteItem()">Sí, eliminar</button>            
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    var itemToDelete;

                                    function confirmDelete(item) {
                                        itemToDelete = item;
                                        document.getElementById('deleteModal').style.display = 'block';
                                    }

                                    function deleteItem() {
                                        if (itemToDelete) {
                                            fetch('/finanzas/eliminar_gasto_nomina/' + itemToDelete + '/')
                                                .then(response => {
                                                    if (response.ok) {
                                                        //alert('Elemento ' + itemToDelete + ' eliminado.');
                                                        // Puedes actualizar la página o realizar alguna otra acción después de la eliminación
                                                        location.reload();
                                                    } else {
                                                        alert('Error al eliminar el elemento.');
                                                    }
                                                    // Ocultar el modal después de la confirmación
                                                    document.getElementById('deleteModal').style.display = 'none';
                                                })
                                                .catch(error => {
                                                    console.error('Error al eliminar el elemento:', error);
                                                    alert('Error al eliminar el elemento.');
                                                    // Ocultar el modal después de la confirmación
                                                    document.getElementById('deleteModal').style.display = 'none';
                                                });
                                        } else {
                                            console.error('Error: itemToDelete no tiene un valor válido.');
                                            alert('Error al eliminar el elemento.');
                                            // Ocultar el modal después de la confirmación
                                            document.getElementById('deleteModal').style.display = 'none';
                                        }
                                    }

                                    function cancelDelete() {
                                        // Cancelar la eliminación, simplemente ocultar el modal
                                        document.getElementById('deleteModal').style.display = 'none';
                                    }
                                </script>
                                <tr>
                                    <td>{{ gasto.Num_factura }}</td>
                                    <td>{{ gasto.Receptor }}</td>
                                    <td>{{ gasto.CantG }} €</td>
                                    <td style="width: 20%;">
                                        <a class="button delete-button" href="{% url 'modificar_gasto_nomina' Num_factura=gasto.Num_factura %}">
                                            ✏️
                                        </a>
                                        <a class="button delete-button" onclick="confirmDelete('{{ gasto.Num_factura }}')">
                                            <button type="button" class="btn btn-danger btn-sm">X</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="agregar_gasto_nomina" role="button" class="btn btn-dark btn-sm">Agregar</a>
                </div>
            </div>
        </div>

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <h1>Listado de Gastos por Productos</h1>
            <div class="main-box clearfix"> 
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Número de factura</span></th>
                                <th><span>Remitente</span></th>
                                <th><span>Cantidad</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gasto in movimientos.gastosP %}
                            <!-- Delete Modal -->
                            <div id="deleteModal" class="modal" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title">¿Estás seguro de que quieres eliminar este elemento?</h6>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cancelDelete()"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelDelete()">Cancelar</button>
                                            <button type="button" class="btn btn-primary" onclick="deleteItem()">Sí, eliminar</button>            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                var itemToDelete;

                                function confirmDelete(item) {
                                    itemToDelete = item;
                                    document.getElementById('deleteModal').style.display = 'block';
                                }

                                function deleteItem() {
                                    if (itemToDelete) {
                                        fetch('/finanzas/eliminar_gasto_productos/' + itemToDelete + '/')
                                            .then(response => {
                                                if (response.ok) {
                                                    //alert('Elemento ' + itemToDelete + ' eliminado.');
                                                    // Puedes actualizar la página o realizar alguna otra acción después de la eliminación
                                                    location.reload();
                                                } else {
                                                    alert('Error al eliminar el elemento.');
                                                }
                                                // Ocultar el modal después de la confirmación
                                                document.getElementById('deleteModal').style.display = 'none';
                                            })
                                            .catch(error => {
                                                console.error('Error al eliminar el elemento:', error);
                                                alert('Error al eliminar el elemento.');
                                                // Ocultar el modal después de la confirmación
                                                document.getElementById('deleteModal').style.display = 'none';
                                            });
                                    } else {
                                        console.error('Error: itemToDelete no tiene un valor válido.');
                                        alert('Error al eliminar el elemento.');
                                        // Ocultar el modal después de la confirmación
                                        document.getElementById('deleteModal').style.display = 'none';
                                    }
                                }

                                function cancelDelete() {
                                    // Cancelar la eliminación, simplemente ocultar el modal
                                    document.getElementById('deleteModal').style.display = 'none';
                                }
                            </script>
                            <tr>
                                <td>{{ gasto.Num_factura }}</td>
                                <td>{{ gasto.Receptor }}</td>
                                <td>{{ gasto.CantG }} €</td>
                                <td style="width: 20%;">
                                    <a class="button delete-button" href="{% url 'modificar_gasto_productos' Num_factura=gasto.Num_factura %}">
                                        ✏️
                                    </a>&nbsp&nbsp
                                    <a class="button delete-button" onclick="confirmDelete('{{ gasto.Num_factura }}')">
                                        <button type="button" class="btn btn-danger btn-sm">X</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="agregar_gasto_productos" role="button" class="btn btn-dark btn-sm">Agregar</a>
                </div>
            </div>
        </div>

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1>Listado de Ingresos</h1>
            <div class="main-box clearfix"> 
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Número de ingreso</span></th>
                                <th><span>Emisor</span></th>
                                <th><span>Cantidad</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ingreso in movimientos.ingresos %}
                            <!-- Delete Modal -->
                            <div id="deleteModal" class="modal" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title">¿Estás seguro de que quieres eliminar este elemento?</h6>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cancelDelete()"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelDelete()">Cancelar</button>
                                            <button type="button" class="btn btn-primary" onclick="deleteItem()">Sí, eliminar</button>            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                var itemToDelete;

                                function confirmDelete(item) {
                                    itemToDelete = item;
                                    document.getElementById('deleteModal').style.display = 'block';
                                }

                                function deleteItem() {
                                    if (itemToDelete) {
                                        fetch('/finanzas/eliminar_ingreso/' + itemToDelete + '/')
                                            .then(response => {
                                                if (response.ok) {
                                                    //alert('Elemento ' + itemToDelete + ' eliminado.');
                                                    // Puedes actualizar la página o realizar alguna otra acción después de la eliminación
                                                    location.reload();
                                                } else {
                                                    alert('Error al eliminar el elemento.');
                                                }
                                                // Ocultar el modal después de la confirmación
                                                document.getElementById('deleteModal').style.display = 'none';
                                            })
                                            .catch(error => {
                                                console.error('Error al eliminar el elemento:', error);
                                                alert('Error al eliminar el elemento.');
                                                // Ocultar el modal después de la confirmación
                                                document.getElementById('deleteModal').style.display = 'none';
                                            });
                                    } else {
                                        console.error('Error: itemToDelete no tiene un valor válido.');
                                        alert('Error al eliminar el elemento.');
                                        // Ocultar el modal después de la confirmación
                                        document.getElementById('deleteModal').style.display = 'none';
                                    }
                                }

                                function cancelDelete() {
                                    // Cancelar la eliminación, simplemente ocultar el modal
                                    document.getElementById('deleteModal').style.display = 'none';
                                }
                            </script>
                            <tr>
                                <td>{{ ingreso.Ref_pago }}</td>
                                <td>{{ ingreso.Emisor }}</td>
                                <td>{{ ingreso.CantI }} €</td>
                                <td style="width: 20%;">
                                    <a class="button delete-button" href="{% url 'modificar_ingreso' Ref_pago=ingreso.Ref_pago %}">
                                        ✏️
                                    </a>&nbsp&nbsp
                                    <a class="button delete-button" onclick="confirmDelete('{{ ingreso.Ref_pago }}')">
                                        <button type="button" class="btn btn-danger btn-sm">X</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="agregar_ingreso" role="button" class="btn btn-dark btn-sm">Agregar</a>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}