{% extends 'almlog/menu.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar productos</title>
    <link rel="stylesheet" href="{% static '/css/almlog/buscar.css' %}">
</head>
<body>
    <div>
        <h1>Buscar producto</h1>

        <form method="GET">
            {{ form.as_p }}
            <button>
                🔍 Buscar
            </button>
        </form>

        <br>
    
        {% if resultados %}
            <h1> Resultados de la búsqueda </h1>
            {% for producto in resultados %}
                <!-- Delete Modal -->
                <div id="deleteModal" class="delete-modal">
                    <div class="modal-content">
                        <p>¿Estás seguro de que quieres eliminar este elemento?</p>&nbsp;&nbsp;&nbsp; 
                        <button class="modal-button" onclick="deleteItem()">Eliminar</button>&nbsp;&nbsp;          
                        <button class="modal-button" onclick="cancelDelete()">Cancelar</button>
                    </div>
                </div>

                <script>
                    var itemToDelete;

                    function confirmDelete(item) {
                        itemToDelete = item;
                        document.getElementById('deleteModal').style.display = 'block';
                    }

                    function deleteItem() {
                        if (itemToDelete) {
                            fetch('/almacenamiento_logistica/eliminar_producto/' + itemToDelete + '/')
                                .then(response => {
                                    if (response.ok) {
                                        //alert('Elemento ' + itemToDelete + ' eliminado.');
                                        // Puedes actualizar la página o realizar alguna otra acción después de la eliminación
                                        location.reload();
                                    } else {
                                        alert('Error al eliminar el elemento.');
                                    }
                                    // Ocultar el modal después de la confirmación
                                    document.getElementById('deleteModal').style.display = 'none';
                                })
                                .catch(error => {
                                    console.error('Error al eliminar el elemento:', error);
                                    alert('Error al eliminar el elemento.');
                                    // Ocultar el modal después de la confirmación
                                    document.getElementById('deleteModal').style.display = 'none';
                                });
                        } else {
                            console.error('Error: itemToDelete no tiene un valor válido.');
                            alert('Error al eliminar el elemento.');
                            // Ocultar el modal después de la confirmación
                            document.getElementById('deleteModal').style.display = 'none';
                        }
                    }

                    function cancelDelete() {
                        // Cancelar la eliminación, simplemente ocultar el modal
                        document.getElementById('deleteModal').style.display = 'none';
                    }
                </script>

                <div class="card">
                    <div class="button-container">
                        <a class="modifica" href="{% url 'modificar_producto' Prod=producto.Prod %}"><b>Modificar</b></a>
                        <a class="button delete-button" onclick="confirmDelete('{{ producto.Prod }}')">X</a>
                    </div>
                    <p></p>
                    <table>
                        <tr>
                            <td colspan="3" id="title"><b><a href="{% url 'ubicacion_producto' Prod=producto.Prod %}">{{ producto.Prod }}</a></b></td>
                        </tr>
                        <tr>
                            <td id="field">Nombre</td>
                            <td id="field">Descripción</td>
                            <td id="field">Precio</td>
                        </tr>
                        <tr>
                            <td id="valor">{{ producto.NombreP }}</td>
                            <td id="valor">{{ producto.DescripcionP }}</td>
                            <td id="valor">{{ producto.Precio }}</td>
                        </tr>
                    </table>

                </div>

            {% endfor %}
        {% else %}
            <h1> Resultados de la búsqueda </h1>
            <p style="text-align: center;">No hay productos.</p>
        {% endif %}
    </div>
</body>
</html>

{% endblock %}
