{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenamiento y Logística</title>
    <link rel="stylesheet" href="{% static '/css/almlog/menu.css' %}">
</head>
<body>

<nav class="navbar" class="container">
    <table>
        <tr>
            <td><a href="/finanzas/">FINANZAS</a></td>
            <td><a href="/marketing_clientes/">MARKETING & CLIENTES</a></td>
            <td><a href="/rrhh/">RECURSOS HUMANOS</a></td>
            <td><a href="/almacenamiento_logistica/">ALMACENAMIENTO & LOGÍSTICA</a></td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'almacenes' %}">ALMACENES</a></td>
            <td colspan="2"><a href="{% url 'productos' %}">PRODUCTOS</a></td>
        </tr>
    </table>
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<nav style="text-align: center;">
<a href="/finanzas/">Finanzas</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/marketing_clientes/">Marketing y Clientes</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/rrhh/">Recursos Humanos</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/almacenamiento_logistica/">Almacenamiento y Logística</a>
</nav>

</body>
</html>