{% extends 'almlog/menu.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static '/css/almlog/index.css' %}">
</head>

<body>
    <h1> PRODUCTOS </h1>

    <table class="card">
        <tr>
            <td><b><a href="{% url 'agregar_producto' %}">Agregar producto</a></b></td>
        </tr>
        <tr>
            <td><b><a href="{% url 'buscar_producto' %}">Buscar producto</a></b></td>
        </tr>
    </table>
</body>

{% endblock %}