{% extends 'app/home.html' %}

{% block content %}

{% load crispy_forms_tags %}
    <section>
        <form method="post" action="">
            {% csrf_token %}
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="card mx-auto" style="width: 32rem;">
                    <div class="card-body">
                        <h3 class="card-title">Complete los campos</h3>
                        {{ form | crispy }}
                        <!--<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <button class="btn btn-sm btn-dark float-end" type="submit">Sing-up</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}