{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar productos</title>
    <link rel="stylesheet" href="{% static '/css/almlog/buscar.css' %}">
</head>
<body>
    <div>
        <h1>Insertar productos en anuncio {{ anuncio.CodigoA }}</h1>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Insertar
            </button>
        </form>
        <h1>Productos que anuncia</h1>
        {% for producto in anuncio.Productos.all %}
            <div class="card">
                <div class="button-container">
                    <a class="modifica" href="{% url 'eliminar_el_producto' CodigoA=anuncio.CodigoA Prod=producto.Prod %}">❌</a>&nbsp
                </div>
                <p></p>
                <table>
                    <tr>
                        <td id="name">Código</td>
                        <td id="name">Nombre</td>
                        <td id="name">Descripción</td>
                    </tr>
                    <tr>
                        <td id="info">{{ producto.Prod }}</td>
                        <td id="info">{{ producto.NombreP }}</td>
                        <td id="info">{{ producto.DescripcionP }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
</body>
</html>
