{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar producto comprado a un socio</title>
</head>
<body>
    <div>
        <h1>Asignar producto comprado a un socio</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>
                Agregar
            </button>
        </form>
        <h1>Productos comprados</h1>
        
            <div class="card">
                <p></p>
                <table>
                    <tr>
                        <td id="name">Código</td>
                        <td id="name">Nombre</td>
                        <td id="name">Descripción</td>
                        <td id="name">Cantidad</td>
                        <td id="name">Fecha</td>
                    </tr>
                    
                    {% for compra in compras %}
                        {% if compra.DNIS.DNIS is socio.DNIS %}
                            {% for producto in socio.Productos.all %}
                                <tr>
                                    <td id="info">{{ producto.Prod }}</td>
                                    <td id="info">{{ producto.NombreP }}</td>
                                    <td id="info">{{ producto.DescripcionP }}</td>
                                    <td id="info">{{ compra.CantidadC }}</td>
                                    <td id="info">{{ compra.FechaC }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
    </div>
    </div>
</body>
</html>