h1 {
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    border: 5px solid whitesmoke;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: rgb(253, 101, 0);
}

td a:active {
    color: rgb(255, 234, 1);
}

#title {
    background-color: #404040;
    color: whitesmoke;
}

#valor {
    background-color: rgb(193, 191, 189);
}