.card {
    background-color: #404040;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    border: 5px solid whitesmoke;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: rgb(253, 101, 0);
}

.card td a:active {
    color: rgb(255, 234, 1);
}

#title {
    background-color: rgb(243, 183, 44);
}

#field {
    background-color: rgb(245, 211, 132);
}

#valor {
    background-color: rgb(245, 234, 210);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.modal-content {
    display: flex;
    justify-content: space-between;
}

.modal-button {
    padding: 2px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

.button.delete-button {
    background-color: hsl(0, 95%, 31%); /* Color rojo */
    color: #fff; /* Texto en color blanco */
    border: none; /* Sin borde */
    font-family: 'Arial', sans-serif;
}

.button.delete-button:hover {
    background-color: hsl(0, 91%, 45%); /* Cambia el color al pasar el ratón por encima */
}