{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-xxxxx" crossorigin="anonymous" /> 
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'css/home/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a la Página Principal</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="{% url 'listas' %}">Listas</a></li>
            <li><a href="{% url 'agregar' %}">Agregar</a></li>
            <!-- Agrega enlaces para las otras páginas aquí -->
        </ul>
    </nav>

    <section>
        <div class='inicio_sesion'>
            <h2>Iniciar sesión</h2>
        </div>
        <form method="post" action="{% url 'login_url' %}">
            {% csrf_token %}
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Iniciar sesión</button>
        </form>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </section>

    <footer>
        <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
