<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página de Inicio</title>
</head>
<body>
    <header>
        <h1>Bienvenido, {{ username }} a tu página de inicio</h1>
    </header>

    <section>
        <p>¡Hola, {{ username }}! Esta es una página de inicio simple creada con Django.</p>
        <p>Espero que disfrutes explorando el contenido.</p>
    </section>

    <footer>
        <p>&copy; 2023 Mi Página de Pruebaaa</p>
    </footer>
</body>
</html>
